<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="/static/css/hr-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    
  </head>
  <body>
    
    
    <nav class="main-menu">
      <ul>
        <li>
        <a href="/profile/employee/{{ employee.EmployeeID }}">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text"> Profile </span>
        </a>
        </li> 
        
        <li>
          <a href="/calendar/events">
            <i class="fa fa-calendar fa-2x" area-hidden ="true"></i>
            <span class="nav-text"> Calendar </span>
          </a>
        </li>
        

      <ul class="logout">
        <li>
          <a href='/logout'>
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text"> Logout </span>
          </a>
        </li>
      </ul>
    </nav>
    <div id="calendar">
      </div>

     <script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var today = new Date();
    
    // Parse the events data passed from Flask as JSON
    var eventsData = JSON.parse('{{ events | safe }}');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        initialDate: today,
        events: eventsData,  // Use the parsed events data
        eventClick: function(info) {
            // Handle event click if needed
            console.log(info.event);
        },
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        }
    });

    calendar.render();
});
</script>1
</body>
</html>